<%- include("../partials/header.ejs")%>
<img name="slide" alt="Responsive image"id="slider" class="img-fluid asdf"width="100%" height="100%" />
<div class=" text-center">
    <div class="row">
        <div class="col-4">
           
        </div>
        <div class="col-4">
            <img class="logo" alt="Responsive image" src="https://i.ibb.co/tK7Hv87/hhhkkk-2-2.png"> 
        </div>
        <div class="col-4">
           
        </div>
    </div>
    
   

</div>
<div class="products">
    <div class="first_p">
        <div class="head text-center">
            <h1 class=" h1">HDPE  Granules</h1>
            <h1> Quality made for you</h1>
        </div>
        <div class="head_2">
            <div class="row text-center">
                <% var i=0 %>
                <% sample.forEach(function(sample){ %>
                   <%if(i<3){%>

                    <div class=" col-12 col-md-6 col-lg-4 p-0 gf" >
                        <div class="boxd  ">
                               
                        
                               <div class="img-thumbnail slide">
                                   <img src="<%=sample.image%>" class="img-fluid  fab" alt="Responsive image">
                                  <div class="caption text-center pt-3">
                                       <h4>
                                           <%=sample.title%>
                                      </h4>
                                       <a href="/show/<%=sample._id%>" class="btn btn-primary mb-3">More Info</a> 
                                   </div>
                             
                           
                           </div>
   
                          
                         </div>        
                           </div>
                    <%}%>
                    <%if(i>=3){%>

                        <div class=" col-12 col-md-6 col-lg-6 text-center  gfg" >
                            <div class="boxd  ">
                                   
                            
                                   <div class="img-thumbnail slide">
                                       <img src="<%=sample.image%>" class="img-fluid  fab" alt="Responsive image">
                                      <div class="caption text-center pt-3">
                                           <h4>
                                               <%=sample.title%>
                                          </h4>
                                           <a href="/show/<%=sample._id%>" class="btn btn-primary mb-3">More Info</a> 
                                       </div>
                                 
                               
                               </div>
       
                              
                             </div>        
                               </div>
                        <%}%>
                    
                
                        <%i++%>
                <%})%>
                
             </div>
        </div>
      </div>      
    </div>
    <div class="jki">
    <div class="row mr-0 ml-0 mb-5">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8 p-0 jhy">
            <div class="good">
                <h1 class="text-center mt-3">
                    High Quality Products..
                </h1>
                <div class="ml-2 ">
                <p><strong>BR Plastic Industries</strong> has made a prominent name in the field of PP Granules, HDPE Granules & PPCP Granules, since its inception. Based in Bhiwani (Haryana), the company has been named as an eminent Manufacturer and Supplier in India. The company acts as the client’s one-stop destination to avail varying Plastic Granules that have been proved to be cost-effective in nature. The assortment of Plastic Granules encompasses HDPE Granules like HDPE Blue Drum Granules, Extrusion Grade HDPE Granules, HDPE Blow Grade Granules, Natural HDPE Blow Moulding Granules, HDPE Milky White Granules. PP Granules like PP Black Injection Molding Granules,PP Green Injection Molding Granules, PP Blue Injection Molding Granules, PP Grey Injection Molding Granules, PP Red Injection Molding Granules, PP White Injection Molding Granules and PPCP Granules like White Natural PPCP Granules & Black PPCP Granules.       </p><p></p><p>                                                                                 The company assures the clients of the highest quality Plastic Granules, thus results in their higher profits. The esteemed clients are our foremost priority and thus the company works to please them as much as possible by means of providing premium quality products and services like timely delivery, customization, etc. Unlike other companies, the company believes in establishing long-term relations with the clients.</p>
                </div>
                
            </div>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>
    </div>
   
<%- include("../partials/footer.ejs")%>
