
<!DOCTYPE html>
<html lang="en">
<head>
  <title>BR Plastics Industries Bhiwani</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- Style TAg -->
   <style>
         .nav-item{
    font-size:1.5rem;
    letter-spacing: 2px;
    color:white;
    
}
.maa{
  background-color: #1d1d1f;
}
.jh{
    color:white;
}
.navbar-brand{
    color:white;
}
.sms{
    font-size:2rem;
    color:white;
    margin-left: 1rem;
    margin-right:1rem;
}
.active a:hover{
    color:white;
   
}
.sms:hover{
    color:white;
}
.dropdown-menu{
    background-color:#1d1d1f ;
    
}
.drop a{
    background-color:#1d1d1f;
    color:white;
}
.drop a:hover{
    background-color: #1d1d1f;
}
.navbar{
   
    background-color:#1d1d1f;
    
    
}

.kh:hover{
    color:white;
}

.context{
    margin-top:33vh;
    
    letter-spacing: 2px;;
    font-size:2.5rem;
    font-weight: 800;
} 
.contact{
    background-color: #f8d15b;
    box-shadow: 1px 2px 10px grey;
}
.contact i{
    font-size: 2rem;
    color: white;
    background-color:black;
  border-radius: 55%;
  border: 1px solid black;
  padding: 10px;
}
select{
   width:18vw;
}
.contact-2{
    background-color:#1d1d1f;
      box-shadow: 1px 2px 10px grey;
      padding-left: 5rem;
      
      
    
}
.footer¨{
    max-width: 100vw;;
}
.Quick{
    color:white;
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;
}
.kh{
   
    margin-right:5rem;
}
.jb h6 a:hover{
    color:white;
}
.jb h6 a{
    color:white
}
.jb{
    margin-top: 1.5rem;;
    color:white
}
.jbh{
    font-size:2.5rem;
}

.none{
    display:none;
}



  /* New Model of the Home Page with the Iphone model */

  
  /* showing or hiding the logo of the industry  */
  @media screen and (max-width: 400px) {
     /* hide sidebar if screen < 400px */
     
     .boxd{
      margin:3rem;
    }
    .brand_image{
      display:none;
    }
    .logo{
     display:block;
     left:45vw;;
    }
    .logo h5{
      padding-top: 2rem;;
    }
    #brand_name{
      display:block;
    }
 
   
  }
.products{
      font-family: 'Kanit', sans-serif;
      
    }
  .first_p{
  color:#1d1d1f;

  } 
  @media screen and (max-width:400px){
    .first_p .h1  {
      font-weight: 600;
      font-size: 2rem;;
    }
    .first_p h1{
      font-weight: 400;
      font-size: 1.5rem;;
    }
   
  }
  @media screen and (min-width:400px){
    .first_p .h1  {
      font-weight: 600;
      font-size: 4rem;;

    }
  
    .first_p h1  {
      font-weight: 500;
      font-size: 3rem;;
    }
    .boxd{
      margin: 5rem;;
    }
    .logo{
      display: none;
    }
   
   
   
  }
  @media screen and (min-width:400px){
       .first_p .head{
         display: none;

       }
       .navbar-brand{
        display: none;
      }
      .logo{
        display: none;
      }
      .brand_image{
        width:10rem;
        
   }
  }
  @media screen and (min-width:1000px){
    .kh{
   
      margin-right:5rem;
  }
  }

  .first_p img{
    width: 90%;
   
  
  }
  .excess{
     width:100vw;
  }
  .mainimage{
    height: 45vh;
    width:50vw;
  }
  .fab{
    min-width:100%;
	
}
.img-thumbnail{

    border-radius: 50px;;
    
}
.caption{
  background-color: #dddddd;
}
.foh{
  background-color: white;
}
.logo{
  background-color: #b1b1b1;
  width:10rem;
}
.abz{
    width:50px;
}

   </style>
   <!-- This is the style tag for the body -->
   <style>
        
          @media screen and (max-width:400px){
          
         .kh{
             margin-right: 5px;
         }
         .imgd{
          max-width: 100vw;
         }
   
  }
  @media screen and (min-width: 400px){
    .borderg{   
      border:1px solid #b1b1b1;
      padding-right: 10px;;
    }
  }
  
  .row{border:0px;margin-right:0;margin-left:0;max-width:100%; }
  .infog{
    font-family: 'Josefin Sans', sans-serif;
  }
  .order{
    background-color: #1d1d1f;
  }
  .kdm{
    font-size: 400;
    padding-top: 2rem;;
    padding-bottom: 2rem;
  }
  .order{
    color:white;
    padding-top: 2rem;;
    padding-bottom: 2rem;

  }
  .agh{
    background-color: #1d1d1f;
    margin-top: 2rem;;
    margin-left: 2.4rem;;
  }
  .jhg{
    border:1px solid #b1b1b1
  }
  #brand_name:hover{
  color:white
}
#brand_name{
  font-weight: 600;
}
   </style>
   <!-- This is the end of the style tag of the body -->
    <link href="https:fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/bc568cdfc5.js" crossorigin="anonymous"></script>
   

</head>
<body>

  
 

    <div class="navba ">
        <nav class="navbar navbar-expand-lg     p-0">
        
             <img class="brand_image ml-0" alt="Responsive-image" src="https://i.ibb.co/PWQ40Dr/logo.png">  
             <a class="ml-4 navbar-brand brand_name" id="brand_name" >BR Plastic Industries</a>
          <button class="navbar-toggler    mr-4" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars jh"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="container maa">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link jh"  href="/">Home  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link jh" href="/companyProfile">Company Profile  </a>
                </li>
               
                <li class="nav-item dropdown    active" id="dre">
                  <a class="nav-link dropdown-toggle jh"id="dr" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plastic Granuls
                  </a>
                  <div class="dropdown-menu drop p-0 k none" id="drd"aria-labelledby="navbarDropdown">
                    
                    <%Sample.forEach(function(data){%>
                      <a class="dropdown-item  jh" href="/show/<%=data._id%>">  <%=data.title%> </a>
                      <%})%>
                  
                    <!-- <a class="dropdown-item  jh" href="#">  HDPE DRUM GRANULES </a>
                    <a class="dropdown-item  jh" href="#">  HDPE EXTRUSION GRADE GRANULES </a>
                    <a class="dropdown-item  jh" href="#">  HDPE BLOW MOLDING GRANULES  </a>
                    <a class="dropdown-item  jh" href="#">  HDPE BLOW MOLDING GRANULES NATURAL </a>
                    <a class="dropdown-item  jh" href="#">  HDPE BLOW MOLDING MILKY WHITE GRANULES </a>
                    <a class="dropdown-item  jh" href="#">  PP INJECTION MOLDING GRANULES BLACK </a>
                    <a class="dropdown-item  jh" href="#">  PP INJECTION MOLDING GRANULES GREEN </a>
                    <a class="dropdown-item  jh" href="#">  PP INJECTION MOLDING GRANULES BLUE </a>
                    <a class="dropdown-item  jh" href="#">  PP INJECTION MOLDING GRANULES GREY </a>
                    <a class="dropdown-item  jh" href="#">  PP INJECTION MOLDING GRANULES RED</a>
                    <a class="dropdown-item  jh" href="#">  PP INJECTION MOLDING GRANULES MILKY WHITE </a>
                    <a class="dropdown-item  jh" href="#">  PPCP GRANULES NATURAL WHITE </a>
                    <a class="dropdown-item  jh" href="#">  PPCP GRANULES BLACK</a>
                   -->
                  </div>
                </li>
                <li class="nav-item active" >
                  <a class="nav-link jh" href="/contct">  Contact Us  </a>
                </li>

               
              </ul>
            
            
           
         
                <ul class="navbar-nav text-right ">
                  
                    <li class="nav-item fg">
                        <a class="navlink sms" href="/email"><i class="fas fa-envelope"></i> E-MAil</i></a>
                    </li>

                </ul>
            </div>
            
          </nav>

    </div>
   
    </div>
    <!-- Till this is the navbar -->
     <!-- This is the body -->
 
             <div class="row infot">
               <div class="col-sm-0 col-md-1"></div>
                   <div class="col-sm-12 col-md-4 pr-0 borderg ">
                     <img alt="Responsive-image" class="img-thumbnail ml-2" src="<%=sample.image%>">
                    
                   </div>
                   <div class="col-sm-12 col-md-6  ml-3">
                        <h4 class="Display-6 mt-3 infog">
                          <%=sample.title%>
                        </h4>
                        <h4>Specifications</h4>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 Type
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   <%=sample.type%>
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 Application
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   <%=sample.application%>
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 Color
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   <%=sample.color%>
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 Usage
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   <%=sample.Uses%>
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 Material
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   <%=sample.material%>
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 Features
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   <%=sample.features%>
                                 </h6> 
                          </div>
                        </div>
                    
                          <h4>Additional Information</h4>
          
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                Min. Order Quantity 
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                   10 Metric Ton
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                 
                                Payment Terms
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                  L/C , T/T
                                 </h6> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                               <h6>
                                Packaging Details
                               </h6>
                          </div>
                          <div class="col-8">
                                 <h6>
                                  Jambo Bag & 25 Kg. Packing
                                 </h6> 
                          </div>
                        </div>
                           <h4> Description</h4>
                              <p><%=sample.description%></p>
                             
                   </div>
                   <div class="col-sm-0 col-md-1"></div>
           
             </div>
             <div class="jhg mt-3">
             <div class="row">
               <div class="col-sm-0 col-md-1"></div>
               <div class="col-sm-12 col-md-10  agh">
                 <div class="order text-center ml-2"> 
                   <h3> <span class="kdm ">Order Enquiry</span> "<%=sample.title%>"</h3>
                  
                 </div>
               </div>
              
               <div class="col-sm-0 col-md-1"></div>
               <div class="col-sm-12 col-md-10 ">
                    <div class="form pl-4 ">
                        <form action="/show/<%=sample._id%>/order" method="POST">
                          <div class="row foh ml-4 ">
                            <div class="col-sm-12 col-md-6 ">
                            <div class="form-group">
                              <label for="name">Name</label>
                                  <input type="text" id="name" name="name" required class="form-control" placeholder="Name">
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <div class="form-group">
                                <label for="email">E-mail</label>
                                    <input type="email" id="email" name="email" required class="form-control" placeholder="E-mail">
                              </div>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                  <label for="mobile">Mobile</label>
                                      <input type="tel" id="mobile" name="mobile" required class="form-control" placeholder="Enter Mobile No.">
                                </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 ">
                                      <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                            <input type="text" id="quantity" name="quantity" required class="form-control" placeholder="Estimated Quantity">
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                      <div class="form-group">
                                        <label for="Unit">Unit</label>
                                            <input type="text" id="unit" name="unit" required class="form-control" placeholder="Unit Type" value="KIlograms">
                                      </div>
                                    </div>
                                </div> 
                                </div>
                                <div class="col-sm-12 col-md-6">
                                  
                                  <div class="form-group">
                                    <label for="value">Order Value</label>
                                        <input type="text" id="value" name="value" required class="form-control" placeholder="Approx Order Value">
                                  </div>
                                  </div>  
                                  <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                      <p>Purpose of Requirement</p>
                                      <div class="row">
                                      <div class="col-4">
                                        <input type="radio" id="huey" name="order[purpose]" value="huey"
                                               >
                                        <label for="huey">Reselling</label>
                                      </div>
                                      
                                      <div class="col-4">
                                        <input type="radio" id="dewey" name="order[purpose]" value="dewey">
                                        <label for="dewey">End Use</label>
                                      </div>
                                      
                                      <div class="col-4">
                                        <input type="radio" id="louie" name="order[purpose]" value="louie">
                                        <label for="louie">Raw Material</label>
                                      </div>
                                      </div>
                                    </div>
                                    </div>  
                                    <div class="col-12">
                                      <div class="form-group hjg">
                                       <p>Requirement Details</p>
                                          <textarea rows="2" cols="100" class="form-control" name="message">I am intersted.Kindly send the quotation for the same.</textarea>  
                                      </div>
                                      </div>
                          </div>
                          <div class="col-12 text-center">
                            <div class="form-group">
                            
                                <input class="btn btn-lg btn-success " id="send"type="submit">
                            </div>
                        </div>
                        </form>
                    </div>
               </div>
               <div class="col-sm-0 col-md-1"></div>
             </div>
             </div>
           
     <!-- this is the end of the body -->
 <!-- From this there is the footer -->

<div class="footer pr-0">
    <div class="contact">
           <div class="row pt-3 pr-0 excess ">
               <div class="col-6 col-md-3 text-center">
                <i class="fas fa-map-marker-alt"></i>
                <h5>Location</h5>
                <p>Bhiwani,Haryana,India</p>
               </div>
               <div class="col-6 col-md-3 text-center pr-0">
                <i class="fas fa-phone-alt"></i>
                <h5>Mobile</h5>
                <p>+91 9215144541</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <i class="fas fa-envelope"></i>
                <h5>Email</h5>
                <p>brplasticindustries@gmail.com</p>
            </div>
            <div class="col-6 col-md-3 text-center pr-0 excess">
                <i class="fas fa-laptop-code"></i>
                <h5>Web</h5>
                <p>WWW.BRPLASTICINDUSTRIES.COM</p>
            </div>
           </div>
    </div> 
     <div class="contact-2">
        <div class="row pr-0 excess">
            <div class="col-sm-12 col-md-6 kh">
                   <h4 class="Quick">
                       Quick Enquiry
                   </h4>
                 
                   
                        <form action="/show/<%=sample._id%>"  method="POST">
                          <div class="row">
                            <div class="col-6">
                            <div class="form-group">
                              
                                  
                                        <input class="form-control" required type="text" name="name" placeholder="Name">
                                        </div>
                            </div>
                            <div class="col-6">
                            <div class="form-group">
                              
                               
                                    <input class="form-control" required type="email" name="email" placeholder="E-mail">
                                    </div>
                        </div>
                        <div class="col-6">
                        <div class="form-group">
                              
                          
                                <input class="form-control" required type="tel" name="number" placeholder="Phone">
                                </div>
                    </div>
                    <div class="col-6">
                    <div class="form-group option">
                              
                        <select>
                            <option value="Afghanistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antartica">Antarctica</option>
                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Bouvet Island">Bouvet Island</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island">Christmas Island</option>
                        <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Congo">Congo, the Democratic Republic of the</option>
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                        <option value="Croatia">Croatia (Hrvatska)</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="East Timor">East Timor</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="France Metropolitan">France, Metropolitan</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia">French Polynesia</option>
                        <option value="French Southern Territories">French Southern Territories</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                        <option value="Holy See">Holy See (Vatican City State)</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran">Iran (Islamic Republic of)</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
                        <option value="Korea">Korea, Republic of</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Lao">Lao People's Democratic Republic</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon" selected>Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macau">Macau</option>
                        <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesia">Micronesia, Federated States of</option>
                        <option value="Moldova">Moldova, Republic of</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Namibia">Namibia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Philippines">Philippines</option>
                        <option value="Pitcairn">Pitcairn</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russia">Russian Federation</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
                        <option value="Saint LUCIA">Saint LUCIA</option>
                        <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
                        <option value="Samoa">Samoa</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome and Principe">Sao Tome and Principe</option> 
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia (Slovak Republic)</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
                        <option value="Span">Spain</option>
                        <option value="SriLanka">Sri Lanka</option>
                        <option value="St. Helena">St. Helena</option>
                        <option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syria">Syrian Arab Republic</option>
                        <option value="Taiwan">Taiwan, Province of China</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania">Tanzania, United Republic of</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks and Caicos">Turks and Caicos Islands</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates">United Arab Emirates</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Vietnam">Viet Nam</option>
                        <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                        <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
                        <option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
                        <option value="Western Sahara">Western Sahara</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Serbia">Serbia</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                           
                            </div>
                </div>
                         
                            
                            <div class="col-12">
                                <div class="form-group">
                                  
                                    <textarea id="w3review" required class="form-control" name="message" rows="2" cols="100" placeholder="Leave a Message for us"> Leave a Message for us
                                    </textarea>    
                                    </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                
                                    <input class="btn btn-lg btn-success kjh"type="submit">
                                </div>
                            </div>
                           
                        
                            
                        </form>
                         
                       </div>
                   

            </div> 
            
            <div class="col-sm-12 col-md-5">
                  <div class="row">
                      <div class="col-6 jb">
                           <h4>
                               Quick Links
                           </h4>
                           <h6>
                                <a href="/">Home</a>
                            </h6>
                           <h6>
                               <a href="#">Company Profile</a>
                        </h6>
                        <h6>
                               <a href="#">Contact Us</a>
                        </h6>
                        <h6>
                              <a href="/">Plastic Granules</a> 
                        </h6>
                        <h6>
                               
                        </h6>
                        <h6>
                               
                        </h6>
                      </div>
                      <div class="col-6 jb">
                             <h4>
                                 Follow us:
                             </h4>
                             <h6>
                                <a href="#"><i class="fab fa-instagram jbh mt-1 mr-2"></i>
                                Instagram </a>
                            </h6>
                             <h6>
                                   <a href="#"><i class="fab fa-linkedin-in jbh mt-1 mr-2" ></i>
                                  Linked-In</a>
                                </h6>
                             <h6>
                                    <a href="#"><i class="fab fa-facebook-f jbh mt-1 mr-2"></i>
                                   Facebook</a>
                                </h6>
                             <h6> 

                             </h6>
                      </div>
                      <div class="col-6 jb">
                        <h4>
                            <img class="abz" alt="Responsive image" src="https://i.ibb.co/Z66YMH8/filename.jpg"> Mittal Plastic Industry
                        </h4>
                        <h6>
                           Amit Kumar
                       </h6>
                        <h6>
                            +91 80974528646
                           </h6>
                        <h6>
                               brplasticindustries@gmail.com
                        

                        </h6>
                 </div>
                 <div class="col-6 jb">
                  <p>Designed & Maintained By : </p>
                  <h6>
                       Ankit Jangra       
               </h6>
               <h6>
                   +91 8307112110
               </h6>
               <h6>
                   ankitjangra620@gmail.com
            

            </h6>
        </div>
                  </div>
            </div>
        </div>
    </div>
</div> 
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
 <!-- Script tag -->
 <script>
     $("#dr").hover(function () {
    // over
    $("#drd").slideDown(500);
   
  }, function () {
    // out
   $("#drd").addClass("none")
   
  }
);
    $(".drop").hover(function () {
        // over
        $(this).css({
          display:"block"
        })
        
      }, function () {
        // out
        $(this).css({
          display:"none"
        })
      }
    );
    $(".infot").hover(function(){
      $(".drop").css({
        display:"none"
      })
    })
    
       </script>
    
    
</body>
</html>